USE [master]
GO
/****** Object:  Database [SE1608]    Script Date: 5/3/2022 8:36:01 PM ******/
CREATE DATABASE [SE1608]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SE1608', FILENAME = N'D:\Spring2021\MSSQL15.SQLEXPRESS\MSSQL\DATA\SE1608.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SE1608_log', FILENAME = N'D:\Spring2021\MSSQL15.SQLEXPRESS\MSSQL\DATA\SE1608_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SE1608].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SE1608]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 5/3/2022 8:36:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[username] [varchar](150) NOT NULL,
	[password] [varchar](150) NOT NULL,
	[displayName] [varchar](50) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account_Group]    Script Date: 5/3/2022 8:36:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account_Group](
	[username] [varchar](150) NOT NULL,
	[gid] [int] NOT NULL,
 CONSTRAINT [PK_Account_Group] PRIMARY KEY CLUSTERED 
(
	[username] ASC,
	[gid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Certificate]    Script Date: 5/3/2022 8:36:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certificate](
	[cid] [int] NOT NULL,
	[cname] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Certificate] PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 5/3/2022 8:36:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[cid] [int] IDENTITY(1,1) NOT NULL,
	[content] [ntext] NULL,
	[username] [nchar](10) NULL,
	[pid] [int] NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 5/3/2022 8:36:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[cid] [int] NOT NULL,
	[cname] [nvarchar](50) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 5/3/2022 8:36:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[did] [int] NOT NULL,
	[dname] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[did] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dummy]    Script Date: 5/3/2022 8:36:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dummy](
	[id] [int] NOT NULL,
	[name] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 5/3/2022 8:36:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[eid] [int] NOT NULL,
	[ename] [varchar](150) NOT NULL,
	[gender] [bit] NOT NULL,
	[dob] [date] NOT NULL,
	[username] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[eid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee_Certificate]    Script Date: 5/3/2022 8:36:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee_Certificate](
	[eid] [int] NOT NULL,
	[cid] [int] NOT NULL,
 CONSTRAINT [PK_Employee_Certificate] PRIMARY KEY CLUSTERED 
(
	[eid] ASC,
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feature]    Script Date: 5/3/2022 8:36:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feature](
	[fid] [int] NOT NULL,
	[fname] [varchar](150) NOT NULL,
	[url] [varchar](1000) NOT NULL,
 CONSTRAINT [PK_Feature] PRIMARY KEY CLUSTERED 
(
	[fid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 5/3/2022 8:36:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[gid] [int] NOT NULL,
	[gname] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[gid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group_Feature]    Script Date: 5/3/2022 8:36:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group_Feature](
	[fid] [int] NOT NULL,
	[gid] [int] NOT NULL,
 CONSTRAINT [PK_Group_Feature] PRIMARY KEY CLUSTERED 
(
	[fid] ASC,
	[gid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 5/3/2022 8:36:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[pid] [int] IDENTITY(1,1) NOT NULL,
	[content] [ntext] NULL,
	[username] [varchar](150) NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 5/3/2022 8:36:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[rid] [int] NOT NULL,
	[title] [nchar](10) NULL,
 CONSTRAINT [PK_Report] PRIMARY KEY CLUSTERED 
(
	[rid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report_Account]    Script Date: 5/3/2022 8:36:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report_Account](
	[rid] [int] NULL,
	[username] [varchar](150) NULL,
	[quantity] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 5/3/2022 8:36:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[rsid] [int] IDENTITY(1,1) NOT NULL,
	[cid] [int] NULL,
	[rid] [int] NULL,
	[from] [date] NULL,
	[to] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 5/3/2022 8:36:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[rid] [int] NOT NULL,
	[rname] [nvarchar](50) NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[rid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 5/3/2022 8:36:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[sid] [int] NOT NULL,
	[sname] [varchar](150) NOT NULL,
	[gender] [bit] NOT NULL,
	[dob] [date] NOT NULL,
	[did] [int] NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([username], [password], [displayName]) VALUES (N'mra', N'mra', NULL)
INSERT [dbo].[Account] ([username], [password], [displayName]) VALUES (N'mrb', N'mrb', NULL)
INSERT [dbo].[Account] ([username], [password], [displayName]) VALUES (N'mrc', N'mrc', NULL)
GO
INSERT [dbo].[Account_Group] ([username], [gid]) VALUES (N'mra', 1)
INSERT [dbo].[Account_Group] ([username], [gid]) VALUES (N'mrb', 2)
INSERT [dbo].[Account_Group] ([username], [gid]) VALUES (N'mrb', 3)
GO
INSERT [dbo].[Certificate] ([cid], [cname]) VALUES (1, N'IELS')
INSERT [dbo].[Certificate] ([cid], [cname]) VALUES (2, N'SAT')
INSERT [dbo].[Certificate] ([cid], [cname]) VALUES (3, N'SCJP')
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([cid], [content], [username], [pid]) VALUES (1, N'comment1', N'mrb       ', 1)
INSERT [dbo].[Comment] ([cid], [content], [username], [pid]) VALUES (2, N'comment2', N'mrc       ', 1)
INSERT [dbo].[Comment] ([cid], [content], [username], [pid]) VALUES (3, N'', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
INSERT [dbo].[Customer] ([cid], [cname]) VALUES (1, N'a')
INSERT [dbo].[Customer] ([cid], [cname]) VALUES (2, N'b')
INSERT [dbo].[Customer] ([cid], [cname]) VALUES (3, N'c')
GO
INSERT [dbo].[Department] ([did], [dname]) VALUES (1, N'Software Engineering')
INSERT [dbo].[Department] ([did], [dname]) VALUES (2, N'Computer Science')
INSERT [dbo].[Department] ([did], [dname]) VALUES (3, N'Information Assurance')
GO
INSERT [dbo].[Dummy] ([id], [name]) VALUES (1, N'Dummy 1')
INSERT [dbo].[Dummy] ([id], [name]) VALUES (2, N'Dummy 2')
INSERT [dbo].[Dummy] ([id], [name]) VALUES (3, N'Dummy 3')
GO
INSERT [dbo].[Employee] ([eid], [ename], [gender], [dob], [username]) VALUES (1, N'afad', 1, CAST(N'2022-03-02' AS Date), N'mra')
INSERT [dbo].[Employee] ([eid], [ename], [gender], [dob], [username]) VALUES (6, N'mai hoa', 0, CAST(N'2022-03-09' AS Date), N'mra')
INSERT [dbo].[Employee] ([eid], [ename], [gender], [dob], [username]) VALUES (200, N'200', 1, CAST(N'2022-03-02' AS Date), N'mra')
GO
INSERT [dbo].[Employee_Certificate] ([eid], [cid]) VALUES (1, 1)
INSERT [dbo].[Employee_Certificate] ([eid], [cid]) VALUES (1, 2)
INSERT [dbo].[Employee_Certificate] ([eid], [cid]) VALUES (6, 1)
GO
INSERT [dbo].[Feature] ([fid], [fname], [url]) VALUES (1, N'Add new Student', N'/student/insert')
INSERT [dbo].[Feature] ([fid], [fname], [url]) VALUES (2, N'Update existing Student', N'/student/edit')
INSERT [dbo].[Feature] ([fid], [fname], [url]) VALUES (3, N'Delete existing Student', N'/student/delete')
GO
INSERT [dbo].[Group] ([gid], [gname]) VALUES (1, N'Admin')
INSERT [dbo].[Group] ([gid], [gname]) VALUES (2, N'Moderator')
INSERT [dbo].[Group] ([gid], [gname]) VALUES (3, N'User')
GO
INSERT [dbo].[Group_Feature] ([fid], [gid]) VALUES (1, 1)
INSERT [dbo].[Group_Feature] ([fid], [gid]) VALUES (1, 2)
INSERT [dbo].[Group_Feature] ([fid], [gid]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Post] ON 

INSERT [dbo].[Post] ([pid], [content], [username]) VALUES (1, N'Post1', N'mra')
INSERT [dbo].[Post] ([pid], [content], [username]) VALUES (2, N'Post2', N'mrb')
SET IDENTITY_INSERT [dbo].[Post] OFF
GO
INSERT [dbo].[Report] ([rid], [title]) VALUES (1, N'A         ')
INSERT [dbo].[Report] ([rid], [title]) VALUES (2, N'B         ')
INSERT [dbo].[Report] ([rid], [title]) VALUES (3, N'C         ')
GO
INSERT [dbo].[Report_Account] ([rid], [username], [quantity]) VALUES (1, N'mra', 1)
INSERT [dbo].[Report_Account] ([rid], [username], [quantity]) VALUES (2, N'mra', 1)
GO
SET IDENTITY_INSERT [dbo].[Reservation] ON 

INSERT [dbo].[Reservation] ([rsid], [cid], [rid], [from], [to]) VALUES (1, 1, 1, CAST(N'2022-03-25' AS Date), CAST(N'2022-03-27' AS Date))
INSERT [dbo].[Reservation] ([rsid], [cid], [rid], [from], [to]) VALUES (2, 1, 2, CAST(N'2022-03-25' AS Date), CAST(N'2022-04-04' AS Date))
SET IDENTITY_INSERT [dbo].[Reservation] OFF
GO
INSERT [dbo].[Room] ([rid], [rname]) VALUES (1, N'x')
INSERT [dbo].[Room] ([rid], [rname]) VALUES (2, N'y')
INSERT [dbo].[Room] ([rid], [rname]) VALUES (3, N'z')
GO
INSERT [dbo].[Student] ([sid], [sname], [gender], [dob], [did]) VALUES (1, N'1111111111111111', 1, CAST(N'2022-02-11' AS Date), 2)
INSERT [dbo].[Student] ([sid], [sname], [gender], [dob], [did]) VALUES (222, N'22222', 1, CAST(N'2022-02-16' AS Date), 2)
GO
ALTER TABLE [dbo].[Report_Account] ADD  CONSTRAINT [defaultvalue]  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[Account_Group]  WITH CHECK ADD  CONSTRAINT [FK_Account_Group_Account] FOREIGN KEY([username])
REFERENCES [dbo].[Account] ([username])
GO
ALTER TABLE [dbo].[Account_Group] CHECK CONSTRAINT [FK_Account_Group_Account]
GO
ALTER TABLE [dbo].[Account_Group]  WITH CHECK ADD  CONSTRAINT [FK_Account_Group_Group] FOREIGN KEY([gid])
REFERENCES [dbo].[Group] ([gid])
GO
ALTER TABLE [dbo].[Account_Group] CHECK CONSTRAINT [FK_Account_Group_Group]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Post] FOREIGN KEY([pid])
REFERENCES [dbo].[Post] ([pid])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Post]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Account] FOREIGN KEY([username])
REFERENCES [dbo].[Account] ([username])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Account]
GO
ALTER TABLE [dbo].[Employee_Certificate]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Certificate_Certificate] FOREIGN KEY([cid])
REFERENCES [dbo].[Certificate] ([cid])
GO
ALTER TABLE [dbo].[Employee_Certificate] CHECK CONSTRAINT [FK_Employee_Certificate_Certificate]
GO
ALTER TABLE [dbo].[Employee_Certificate]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Certificate_Employee] FOREIGN KEY([eid])
REFERENCES [dbo].[Employee] ([eid])
GO
ALTER TABLE [dbo].[Employee_Certificate] CHECK CONSTRAINT [FK_Employee_Certificate_Employee]
GO
ALTER TABLE [dbo].[Group_Feature]  WITH CHECK ADD  CONSTRAINT [FK_Group_Feature_Feature] FOREIGN KEY([fid])
REFERENCES [dbo].[Feature] ([fid])
GO
ALTER TABLE [dbo].[Group_Feature] CHECK CONSTRAINT [FK_Group_Feature_Feature]
GO
ALTER TABLE [dbo].[Group_Feature]  WITH CHECK ADD  CONSTRAINT [FK_Group_Feature_Group] FOREIGN KEY([gid])
REFERENCES [dbo].[Group] ([gid])
GO
ALTER TABLE [dbo].[Group_Feature] CHECK CONSTRAINT [FK_Group_Feature_Group]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_Account] FOREIGN KEY([username])
REFERENCES [dbo].[Account] ([username])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_Account]
GO
ALTER TABLE [dbo].[Report_Account]  WITH CHECK ADD  CONSTRAINT [FK_Report_Account_Account] FOREIGN KEY([username])
REFERENCES [dbo].[Account] ([username])
GO
ALTER TABLE [dbo].[Report_Account] CHECK CONSTRAINT [FK_Report_Account_Account]
GO
ALTER TABLE [dbo].[Report_Account]  WITH CHECK ADD  CONSTRAINT [FK_Report_Account_Report] FOREIGN KEY([rid])
REFERENCES [dbo].[Report] ([rid])
GO
ALTER TABLE [dbo].[Report_Account] CHECK CONSTRAINT [FK_Report_Account_Report]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_Customer] FOREIGN KEY([cid])
REFERENCES [dbo].[Customer] ([cid])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_Customer]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_Room] FOREIGN KEY([rid])
REFERENCES [dbo].[Room] ([rid])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_Room]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Department] FOREIGN KEY([did])
REFERENCES [dbo].[Department] ([did])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Department]
GO
USE [master]
GO
